.content {
  position: relative;
  width: 100%;
  left: 0;
  padding-top: 80px;
}

.content {
  & section:first-child {
    padding-top: 0;
  }

  & section {
    position: relative;
    padding: 24px;
  }
}

.section-body:first-child {
  margin-top: 24px;
}
