:global(body.login) {
  background: #f5f5f5;
}

.login-page {
  width: 360px;
  padding-top: 100px;
  margin: 0 auto;
  text-shadow: none;
}

@media (max-width: 428px) {
  .login-page {
    width: 320px;
    padding-top: 40px;
  }
}
